pip install fastapi -i https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple some-package
pip install pydantic -i https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple some-package
pip install logfire -i https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple some-package
pip install starlette -i https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple some-package  
pip install uvicorn -i https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple some-package 
pip install exifread -i https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple some-package 
pip install sqlalchemy -i https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple some-package 
pip install aiosqlite -i https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple some-package
pip install passlib -i https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple some-package
pip install python-jose -i https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple some-package
pip install "pydantic[email]" -i https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple some-package
pip install asyncpg -i https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple some-package
pip install bcrypt -i https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple some-package
pip install argon2_cffi -i https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple some-package